<h1><%= @category.name %></h1>

<!-- Add code here to list a category's posts. -->

<% @category.posts.each do |inst| %>
<h3>Posts: </h3>
<ul>
   <li><%= link_to "#{inst.title}", post_path(inst) %></li>
</ul>
<%end%>
